/*----------------------------------------------------
Title: 		PromoShop
Author:		Complement Studio - complementstudio.com
Updated:	8/2011
Valid:		You know it!
----------------------------------------------------*/

@media screen {

	/* Generics */
	h2.hide { display: none;}
	a { border: none; outline: none; }
	img { border: none; outline: none; }

	/* Framework */
	body { background-color: #FFF; margin: 0; padding: 0; margin-top: 0; font-family: Helvetica; font-size: 12px; color: #8C8C8C; line-height: 21px; }
	body.home { background: transparent url(../images/img-bg-sidebar-home.png) repeat-y top left; margin: 0; padding: 0; }
	body.services { background: transparent url(../images/img-bg-sidebar-services.png) repeat-y top left; margin: 0; padding: 0; }
	body.thebasics { background: transparent url(../images/img-bg-sidebar-thebasics.png) repeat-y top left; margin: 0; padding: 0; }
	body.compliance { background: transparent url(../images/img-bg-sidebar-compliance.png) repeat-y top left; margin: 0; padding: 0; }
	body.creativity { background: transparent url(../images/img-bg-sidebar-creativity.png) repeat-y top left; margin: 0; padding: 0; }
	body.jumpin { background: transparent url(../images/img-bg-sidebar-jumpin.png) repeat-y top left; margin: 0; padding: 0; }
	body.clients { background: transparent url(../images/img-bg-sidebar-clients.png) repeat-y top left; margin: 0; padding: 0; }
	body.contact { background: transparent url(../images/img-bg-sidebar-contact.png) repeat-y top left; margin: 0; padding: 0; }


	/* Page Container */
	div#wrapper {margin: 0; position: relative; width: 1072px; z-index: 1; }
	div#header {width: 960px;height: 380px;padding: 0 0 220px 0;margin: 0;position: relative;}
	div.header-catalog { width: 193px; height: 95px; position: absolute; top: 15px; left: 837px; text-indent: -99999px;  }
	div.header-catalog a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-home.jpg) no-repeat 0 0; }
	div.header-catalog.services a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-services.jpg) no-repeat 0 0; }
	div.header-catalog.creativity a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-creativity.jpg) no-repeat 0 0; }
	div.header-catalog.clients a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-clients.jpg) no-repeat 0 0; }
	div.header-catalog.jumpin a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-jumpin.jpg) no-repeat 0 0; }
	div.header-catalog.contact a { width: 193px; height: 95px; display: block; background: transparent url(../images/img-bg-sprite-catalog-contact.jpg) no-repeat 0 0; }

	div.header-catalog a:hover { background-position: 0 -95px; }
	a {text-decoration: none; cursor: pointer;}
	a.logo {background: transparent url(../images/img-logo-promoshop.jpg) no-repeat top left; display: block; position: absolute; text-indent: -9999px; left: 150px; top: 20px; z-index:69; width: 97px; height: 97px; }

	/* Social Nav */
	div.nav-social { margin: 0; padding: 0; width: 815px; position: absolute; top: 85px; left: 295px;}
	div.nav-social ul { margin: 0; padding: 0; }
	div.nav-social li { float: left; width: 24px; height: 24px; list-style-type: none; margin-right: 5px;}
	div.nav-social li a { text-indent: -9999px; display: block; width: 24px; height: 24px; }
	div.nav-social li a.facebook { display: block; background: transparent url(../images/img-icon-facebook.jpg) no-repeat top left; }
	div.nav-social li a.twitter { display: block; background: transparent url(../images/img-icon-twitter.jpg) no-repeat top left; }
	div.nav-social li a.linkedin { display: block; background: transparent url(../images/img-icon-linkedin.jpg) no-repeat top left; }
	div.nav-social li a.youtube { display: block; background: transparent url(../images/img-icon-youtube.jpg) no-repeat top left; }

	/* Radio */
	div.radio { float: left; margin-left: 10px; padding-top: 3px; width: 400px; }
	div.radio span { float: left; }
	div.radio ul { float: left; margin-left: 7px; width: 200px; }
	div.radio li { float: left; width: 16px; }
	div.radio li.slash { width: 3px; }
	div.radio li span { float: left; display: block; }
	div.radio li a { text-indent: 0; color: #C20C22; }
	div.radio li a:hover { color: #CCC; }

	div.nav { position: absolute; top: 150px; left: 101px; width: 166px; z-index: 67; }
	ul#nav { right: 0px; padding: 0; position: relative; top: 0px; }
	ul#nav li { list-style: none; margin: 0; padding-right: 10px; }
	ul#nav li a { background: transparent url(../images/img-bg-navmain.png) no-repeat; display: block; width: 95px; height: 24px; padding-left: 52px; text-indent: -9999px; }
	ul#nav li a.services { background-position: 0 -25px; }
	ul#nav li a.services:hover, ul#nav li a.services.active { background-position: 0 0; }
	ul#nav li a.thebasics { background-position: 0 -326px; }
	ul#nav li a.thebasics:hover, ul#nav li a.thebasics.active { background-position: 0 -301px; }
	ul#nav li a.compliance { background-position: 0 -378px; }
	ul#nav li a.compliance:hover, ul#nav li a.compliance.active { background-position: 0 -353px; }
	ul#nav li a.creativity { background-position: 0 -75px; }
	ul#nav li a.creativity:hover, ul#nav li a.creativity.active { background-position: 0 -49px; }
	ul#nav li a.clients { background-position: 0 -125px; }
	ul#nav li a.clients:hover, ul#nav li a.clients.active { background-position: 0 -99px; }
	ul#nav li a.jumpin { background-position: 0 -175px; }
	ul#nav li a.jumpin:hover, ul#nav li a.jumpin.active { background-position: 0 -149px; }
	ul#nav li a.gogreen { background-position: 0 -225px; }
	ul#nav li a.gogreen:hover { background-position: 0 -199px; }
	ul#nav li a.contact { background-position: 0 -276px; }
	ul#nav li a.contact:hover, ul#nav li a.contact.active { background-position: 0 -249px; }
	ul#nav li a.catalog { background-position: 0 -428px; }
	ul#nav li a.catalog:hover, ul#nav li a.catalog.active { background-position: 0 -402px; }


	/* Main Content Wrapper */
	div#content-wrapper { float: left; margin: 120px 0 0 295px; padding: 0; }
	div.content-bottom.home { background: transparent url(../images/img-bg-content-bottom.png) no-repeat top left; }
	div.content-bottom { /*overflow: hidden;*/ margin-top: 10px; }
div.content-left-home { float: left; margin-left: 55px; /*width: 411px;*/ }
div.content-left-home p { padding-right: 40px; margin-bottom: 40px; }
div.content-right-home { background: transparent url(../images/img-bg-content-right-home.png) no-repeat top left;  float: left; width: 263px; }
div.content-right-home h2 { text-indent: -99999px; background: transparent url(../images/img-h2-currentservices.jpg) no-repeat top left; width: 263px; height: 21px; }
div.content-right-home ul { margin: 0 0 0 30px; padding: 0; float: left;}
div.content-right-home li { color: #DEB477; list-style-type: square; margin-bottom: 2px; }
div.content-right-home li a { font-size: 14px; color:#C5B793; }
div.content-right-home li a:hover { color: #FF6600; }

/* Featured Product / Choppers Deals */

.featured-product { float: left; width: 180px; padding-left: 40px; }
.featured-product h3 { background: transparent url(../images/h3-featured-product.gif) no-repeat top left; text-indent: -9999px; margin: 0 0 10px 0; padding: 0; width: 274px; height: 20px; }
.featured-product a { display: block; cursor: pointer; }
/*.featured-product a { display: block; cursor: pointer; width: 274px; height: 129px; position: relative; z-index: 1000; }
*/.sweet-deals { float: right; height: 175px; width: 194px; text-align: center; }
.sweet-deals h3 { margin: 0; padding: 0; text-transform: uppercase; font-size: 17px; }
.sweet-deals p { margin-left: 182px;  text-align: center; }
.sweet-deals a { background: transparent url(../images/btn-see-the-deal.png) no-repeat top right; text-indent: -9999px; width: 129px; height: 30px; display: block; margin: 10px 31px 0 0; float: right; }
.sweet-deals a:hover { background-position: -1px -31px; }

img.floating-image { position: absolute; top: 430px; left: 55px; }
img.floating-image.services { position: absolute; top: 395px; left: 12px; }
img.floating-image.thebasics { position: absolute; top: 390px; left: 12px; }
img.floating-image.compliance { position: absolute; top: 390px; left: 12px; }
img.floating-image.creativity { position: absolute; top: 390px; left: 12px; }
img.floating-image.clients { position: absolute; top: 373px; left: 12px; }
img.floating-image.jumpin { position: absolute; top: 390px; left: 22px; }


div#footer {  height: 118px; padding: 0; width: 100%; float: left; margin: 230px 0 0 240px; }
div#footer.footer-long { margin-top: 330px; }
div#footer img { margin: 0 auto; width: 724px; float: left; }
div#footer p { float: left; margin: 20px auto; width: 708px; text-align: center }

/* VIDEO */
a.video-home { display: block; position: absolute; top: 170px; left: 300px; }

/* THE BASICS CSS */
div.thebasics-content { width: 480px; margin-right: 40px; float: left; }
div.buzz { float: left; width: 210px; }
div.buzz h2 { color: #C05963; text-transform: uppercase; }
div.buzz ul { margin: 0; padding: 0; }
div.buzz div { list-style: none; margin: 0 0 10px 0; padding: 0 0 10px 0; border-bottom: 1px dotted #CCC; }
div.buzz div h3 { color: #C20C22; font-size: 12px; line-height: 15px; }
div.buzz div span { line-height: 15px; font-style: italic; }
div.thebasics-content h2 { color: #47006A; margin-bottom: 0; padding-bottom: 0; text-transform: uppercase; font-size: 14px; }
div.thebasics-content p { margin-top: 2px; }
/* root element for scrollable */
.scrollable {/* required settings */position:relative; overflow:hidden;/* vertical scrollables have typically larger height than width but not now */height: 665px;width: 210px; }
/* root element for scrollable items */
.scrollable .items {position:absolute;/* this time we have very large space for the height */height:20000em;}

/* COMPLIANCE CSS */
div.compliance-content h3 { color: #333; }
div.compliance-content ul { margin: 20px 0 20px 0; }
div.compliance-content li { margin-bottom: 6px; }
div.compliance-content li strong { font-size: 13px; }

/* SERVICES CSS */
div.services-smheader { background: transparent url(../images/img-bg-smheader-services.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; }
div.services-smheader h1 { background: transparent url(../images/h2-services.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.thebasics-smheader { background: transparent url(../images/img-bg-smheader-thebasics.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; }
div.thebasics-smheader h1 { background: transparent url(../images/h2-thebasics.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.compliance-smheader { background: transparent url(../images/img-bg-smheader-compliance.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; }
div.compliance-smheader h1 { background: transparent url(../images/h2-compliance.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.creativity-smheader { background: transparent url(../images/img-bg-smheader-creativty.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; }
div.creativity-smheader h1 { background: transparent url(../images/h2-creativity.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.clients-smheader { background: transparent url(../images/img-bg-smheader-clients.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; width: 738px; }
div.clients-smheader h1 { background: transparent url(../images/h2-clients.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.jumpin-smheader { background: transparent url(../images/img-bg-smheader-jumpin.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; text-indent: -9999px;}
div.jumpin-smheader h1 { background: transparent url(../images/h2-jumpin.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.jumpin-smheader { background: transparent url(../images/img-bg-smheader-jumpin.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; text-indent: -9999px;}
div.jumpin-smheader h1 { background: transparent url(../images/h2-jumpin.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}
div.contact-smheader { background: transparent url(../images/img-bg-smheader-contact.jpg) repeat-x top left; margin: 0; padding: 7px 0 0 6px; }
div.contact-smheader h1 { background: transparent url(../images/h2-contact.gif) no-repeat top left; text-indent: -9999px; margin: 0; padding: 0;}


div.marketing-services, div.creative-services, div.expanded-services { width: 27%; float: left; margin: 0 60px 0 6px; }
div.expanded-services { margin-right: 0; width: 24%; }
div.marketing-services h2, div.creative-services h2, div.expanded-services h2  { text-transform: uppercase; color: #C57A0D; font-size: 14px; }
div.marketing-services ul, div.creative-services ul, div.expanded-services ul { margin: 0; padding: 0;}
div.marketing-services li, div.creative-services li, div.expanded-services li { list-style: none; margin-bottom: 3px; line-height: 15px; margin-top: 10px; }
div.marketing-services li a, div.creative-services li a, div.expanded-services li a { color: #999999; font-size: 13px; }
div.marketing-services li a:hover, div.creative-services li a:hover, div.expanded-services li a:hover { color: #C20C22; }
/* Marketing Sub Pages */
div.marketing-services-sub { width: 27%; float: left; margin: 0 22px 0 -5px; border-right: 1px solid #E0E0E0; padding: 0 15px 40px 0; }
div.marketing-services-sub h2 { text-transform: uppercase; color: #C57A0D; font-size: 15px; text-align: right; margin-bottom: 8px; }
div.marketing-services-sub ul { margin: 0; padding: 0;}
div.marketing-services-sub li { list-style: none; text-align: right; line-height: 12px; margin-bottom: 11px; }
div.marketing-services-sub li a { color: #999999; font-size: 1em; }
div.marketing-services-sub li a:hover { color: #C20C22;  }
div.marketing-services-sub li a.active { color: #C20C22; font-weight: bold;  }
a.back-to-link { background: transparent url(../images/img-bg-arrow-back-to.gif) no-repeat 0 8px; display: block; font-size: 11px;  background-color: #C20C22; padding: 1px 10px 1px 25px; width: 94px; margin: 35px 0 0 86px; color: #FFF; }
a.back-to-link:hover { background: transparent url(../images/img-bg-arrow-back-to-ovr.gif) no-repeat 0 8px; background-color: #FF566C; }
div.services-content { width: 232px; float: left; }
div.services-content.noimage { width: 480px; float: left; }
div.services-content h3 { color: #A14804; font-size: 18px; }
div.services-content p { padding-right: 20px; }
div.services-content ul { margin: 0; padding: 0; }
div.services-content li { list-style: none; }
div.services-content li a { color: #0066CC; }
div.services-content li a:hover { color: #C20C22; }
div.services-images { width: 222px; float: left; margin-left: 24px; }
div.services-images ul { margin: 25px 0 0 0; padding: 0; }
div.services-images li { float: left; margin-right: 15px; list-style: none; background-color: #999; border: 1px solid #CCC; width: 57px; height: 42px; margin-bottom: 10px; }

/* Creativity CSS */
div.casestudy-container { margin: 0 0 40px 0; padding: 0; }
ul.columns { width: 738px; list-style: none; margin: 0 auto; padding: 0; }
ul.columns li { width: 135px; float: left; display: inline; margin: 5px; padding: 0; position: relative; }
ul.columns li:hover {z-index: 99;}
ul.columns li img { position: relative; filter: alpha(opacity=30); opacity: 0.3; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; }
ul.columns li:hover img{ z-index: 999; filter: alpha(opacity=100); opacity: 1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
ul.columns li div.info { position: absolute; left: -14px; top: -11px; padding: 157px 10px 20px; width: 142px; display: none; background: #000; font-size: 1.2em; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
ul.columns li:hover div.info {display: block;}
div.info p a.view-casestudy { display: block; text-transform: uppercase; color:#C20C22; text-decoration: underline; margin-top: 13px; }
div.info p a.view-casestudy:hover { text-decoration: none; }
ul.columns li h2 { font-size: 14px; font-weight: normal; text-transform: uppercase; margin: 0; padding: 3px 0; line-height: 15px; margin-bottom: 7px; }
ul.columns li p {padding: 0; margin: 0; font-size: 0.8em; line-height: 16px; }
ul.casestudy-nav { margin: 0; padding: 0; overflow: hidden; }
ul.casestudy-nav li { float: left; width: 48px; height: 51px; list-style: none; margin:0; padding:0; margin-right: 5px; }
ul.casestudy-nav li:hover { }
ul.casestudy-nav li a { background-color: #999; display: block; width: 51px; height: 51px; margin-top: 6px; }
ul.casestudy-nav li.last-child { margin-right: 0; }
ul.casestudy-nav li span { display: block; font-size: 9px; font-weight: bold; color: #C20C22; text-align: center; text-transform: uppercase; line-height: 12px; }
div.casestudy-content-l { width: 49%; float: left; margin: 20px 0 0 10px; padding: 0; }
div.casestudy-content-l p { margin-bottom: 30px; padding-right: 40px; }
div.casestudy-content-l h2 { color: #4884AD; }
div.casestudy-content-l a.btn-next-casestudy { background-color: #000; padding: 7px 12px; color: #FFF; text-transform: uppercase; font-size: 11px; }
div.casestudy-content-r { width: 49%; float: left; margin: 50px 0 0 0; padding: 0; }
div.casestudy-content-r ul { margin: 25px 0 0 0; padding: 0; }
div.casestudy-content-r li { float: left; margin-right: 15px; list-style: none; background-color: #999; border: 1px solid #CCC; width: 57px; height: 42px; }
p.check-back { float: left; margin-top: 40px; font-size: 14px; text-align: center; width: 100%; }

.jcarousel-clip { overflow: hidden; }
.jcarousel-clip-horizontal { width: 690px; height: 51px; margin-left: 25px;}
.jcarousel-item { width: 51px; height: 51px; }
.jcarousel-item-horizontal { margin-left: 0; margin-right: 10px; }
.jcarousel-direction-rtl .jcarousel-item-horizontal { margin-left: 10px; margin-right: 0; }
/**
 *  Horizontal Buttons
 */
.jcarousel-next-horizontal {
    position: absolute;
	top: 6px;
	right: 0px;
	width: 20px;
	height: 45px;
    cursor: pointer;
    background: #000 url('../images/creativity-arrow-right.png') no-repeat center center;
}
.jcarousel-next-horizontal:hover,
.jcarousel-next-horizontal:focus {
    background-color: #FF0000;
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:focus,
.jcarousel-next-disabled-horizontal:active {
    background-color: #DDD;
}

.jcarousel-prev-horizontal {
    position: absolute;
    top: 6px;
	left: 0px;
	width: 20px;
	height: 45px;
    cursor: pointer;
    background: #000 url('../images/creativity-arrow-left.png') no-repeat center center;
}

.jcarousel-prev-horizontal:hover,
.jcarousel-prev-horizontal:focus {
    background-color: #FF0000;
}

.jcarousel-prev-disabled-horizontal,
.jcarousel-prev-disabled-horizontal:hover,
.jcarousel-prev-disabled-horizontal:focus,
.jcarousel-prev-disabled-horizontal:active {
    cursor: default;
    background-color: #DDD;
}

/* Clients CSS */
div.clients-content { margin: 0; padding: 0; }
div.clients-content ul { margin: 0; padding: 0; }
div.clients-content li { margin: 0; padding: 0; list-style: none; }
/* rotator in-page placement */
div.clients-content { position:relative; height:764px; margin: 0; display: none; }
/* rotator css */
div.clients-content li { float:left; position:absolute; list-style: none; }
/* rotator image style */
div.clients-content li.show { z-index:500 }

/* Contact CSS */
div.contact-content { margin: 0; padding: 0; }
div.contact-content ul { margin: 30px 0 0 20px; padding: 0; overflow: hidden; }
div.contact-content li { background: transparent url(../images/img-contact-icon-idaho.gif) no-repeat 0 0; float: left; list-style: none; width: 188px; height: 222px; margin: 0 20px 50px 0; padding-left: 27px; }
div.contact-info-corpoffice { position: absolute; top: 136px; left: 715px; width: 300px; }
div.contact-info-corpoffice h2  { text-align: right; color: #999999; margin: 0; padding: 0; }
div.contact-info-corpoffice p  { line-height: 18px; text-align: right; font-size: 15px; color: #CCCCCC; margin-top: 3px; }
div.contact-info-corpoffice a { color: #D25926; }
div.contact-content li.boise { background: transparent url(../images/img-contact-icon-idaho.gif) no-repeat 0 0; }
div.contact-content li.boulder { background: transparent url(../images/img-contact-icon-colorado.gif) no-repeat 0 0; }
div.contact-content li.dallas { background: transparent url(../images/img-contact-icon-texas.gif) no-repeat 0 0; margin: 0 56px 50px 0;  }
div.contact-content li.detroit { background: transparent url(../images/img-contact-icon-michigan.gif) no-repeat 0 0; }
div.contact-content li.encino { background: transparent url(../images/img-contact-icon-california.gif) no-repeat 0 0; }
div.contact-content li.irvine { background: transparent url(../images/img-contact-icon-california.gif) no-repeat 0 0; }
div.contact-content li.sandiego { background: transparent url(../images/img-contact-icon-california.gif) no-repeat 0 0; }
div.contact-content li.sanfrancisco { background: transparent url(../images/img-contact-icon-california.gif) no-repeat 0 0; }
div.contact-content li.seattle { background: transparent url(../images/img-contact-icon-washington.gif) no-repeat 0 0; }
div.contact-content li.toronto { background: transparent url(../images/img-contact-icon-toronto.gif) no-repeat 0 0; }
div.contact-content li.windsor { background: transparent url(../images/img-contact-icon-windsor.gif) no-repeat 0 0; }

div.contact-content li div.contact-info { border-left: 1px solid #EBEBEB; color: #47006A; padding-left: 10px; margin-left: 10px; height: 222px; }
div.contact-content li h2 { font-size: 14px; text-transform: uppercase; margin: 0 0 10px 0; padding: 0; }
div.contact-content li p { color: #999999; margin: 0; padding: 0; width: 204px; }
div.contact-content li a { color: #C00C20; font-size: 13px; }
div.contact-content li a:hover { color: #C05963; text-decoration: underline; }
div.contact-content li a.viewmap, div.contact-info-corpoffice a.viewmap { background: transparent url(../images/img-contact-icon-map.gif) no-repeat 0 0; display: block; color: #666666; text-transform: uppercase; width: 204px; height: 24px; display: block; font-size: 10px; padding-left: 30px; margin: 10px 0 0 0; }
div.contact-info-corpoffice a.viewmap { text-align: right; width: 52px; color: #CCC; margin-left: 219px; }
}
